<div class="container brand-forms">
  <h1 class="text-center">Company Settings</h1>

<%= form_for(resource, as: resource_name, class: 'form-horizontal', url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :company_name, 'Company Name', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :company_name, autofocus: true, class: 'form-control' %></div>
  </div>

  <div class="field form-group">
    <%= f.label :legal_name, 'Legal Name', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :legal_name, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :dba, 'DBA', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :dba, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_address_line_1, 'Billing Address (line 1)', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_address_line_1, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_address_line_2, 'Billing Address (line 2)', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_address_line_2, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_city, 'City', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_city, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_state, 'State', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_state, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_zip, 'Zip', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_zip, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :billing_phone_number, 'Phone Number', class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :billing_phone_number, class: 'form-control'  %></div>
  </div>

<section id="financial-info">
<h2 class="text-center">Financial Information</h2>
  <% @org_types = ['LLC', 'LLP', 'Sub S', 'Partnership', 'Sole Proprietorship'] %>

  <div class="field form-group">
    <%= f.label :type_of_organization, 'Type of Organization',class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6">
      <%= f.select(:type_of_organization, @org_types.collect { |too| [too] }) %>
    </div>

  </div>

  <div class="field form-group">
    <%= f.label :bank_name, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :bank_name, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :bank_account_number, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :bank_account_number, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :bank_routing_number, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :bank_routing_number, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :tax_id, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :tax_id, class: 'form-control'  %></div>
  </div>

</section>


<section id="contact-info">
  <h2 class="text-center">Contact Information</h2>

  <div class="field form-group">
    <%= f.label :info_website, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :info_website, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :info_company_description, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_area :info_company_description, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :info_hours, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_area :info_hours, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :info_customer_service_phone, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :info_customer_service_phone, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :info_accounts_payable_person, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :info_accounts_payable_person, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :info_marketing_manager, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :info_marketing_manager, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :owner_direct_name, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :owner_direct_name, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :owner_direct_email, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :owner_direct_email, class: 'form-control'  %></div>
  </div>

  <div class="field form-group">
    <%= f.label :owner_direct_phone, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.text_field :owner_direct_phone, class: 'form-control'  %></div>
  </div>

</section>


<section class="text-center"id="login-info">
  <h2 class="text-center">Login Information</h2>

  <div class="field form-group">
    <%= f.label :email, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.email_field :email, class: 'form-control'  %></div>
  </div>

  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: 'col-md-3 col-md-offset-1 control-label' %>
    <div class="col-md-6"><%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %></div>
  </div>

</section>

  <div class="field form-group">
    <%= f.label :current_password, class: 'col-md-3 col-md-offset-1 control-label'  %>
    <div class="col-md-6">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div>

<section id="submit-button">  
  <div class="form-group">
    <div class="col-md-6 col-md-offset-4">
      <%= f.submit "Update Company Settings", class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</section>
<% end %>


<section id="cancel-my-account"><div class="col-md-6 col-md-offset-4">
<h3>Cancel my account</h3>

  <p>You can cancel your account any time but doing so will also delete all your uploaded products. Products on the YourNewGear.com store will be deleted within 10 days of deleting your canceling your account. Please contact us if you have any questions.<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

  <%= link_to "Back", :back %>
</div></section>
</div>
