<h1>Welcome to YNG</h1>

<% unless brand_signed_in? %>
  <%= link_to 'Sign In', brand_session_path %><br />
  <%= link_to 'Sign Up', new_brand_registration_path %>
<% else %>
  <%= link_to 'Manage Products', "http://www.apple.com" %><br />
  <%= link_to 'Company Settings', edit_brand_registration_path %><br />
  <%= link_to 'Sign Out', destroy_brand_session_path, method: :delete %>
<% end %>