<h1>Brands</h1>
<%= link_to 'Admin Log Out', destroy_admin_session_path, method: :delete %>
Brand Count: <%= @brands.count %> 

<table class="table table-striped">
  <tr>
    <th>Company Name</th>
    <th>Member Since</th>
    <th>Owner Name</th>
    <th>Owner Phone</th>
    <th>Product Count</th>
  </tr>
  <% @brands.each do |b| %>
    <tr>
      <td><%= link_to b.company_name, brand_path(b.id) %></td>
      <td><%= b.created_at.strftime('%D') %></td>
      <td><%= b.owner_direct_name %></td>
      <td><%= b.owner_direct_phone %></td>
      <td><%= b.products.count %></td>
    </tr>
  <% end %>
</table>

  
  
  


