<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @brand.company_name %></h1>

    <%= link_to 'Add a Product', new_brand_product_path(@brand.id), class: 'btn btn-success' %><br />
    </div>

  </div>
  <div class="row">
    <% @brand.products.each do |p| %>
<div class="col-md-3">
  <div class="prod">
  <h4><%= link_to p.name, brand_product_path(@brand.id, p.id) %></h4>
  <small><% if p.sku.present? %><%= p.sku %><% end %></small>
  <p><%= p.description.truncate(150) %><br />
    <%= link_to 'Edit Product', edit_brand_product_path(current_brand.id, p.id), class: 'btn btn-primary btn-sm box-bottom ' %>
  </p>
  </div>
</div>
<% end %>

  </div>

</div>











