<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit Product</h1>

      <%= link_to 'Back to Products', brand_path(current_brand.id)  %>


      <%= simple_form_for ([@brand, @product]) do |f| %>
        <%= f.input :name %>
        <%= f.input :sku %>
        <%= f.input :retail_price %>
        <%= f.input :map_price %>
        <%= f.input :description, input_html: {rows: 8} %>
        <%= f.input :color_options %>
        <%= f.input :size_options %>
        <%= f.input :dropbox_url %>

        <%= f.submit 'Edit Product', class: 'btn btn-lg btn-primary' %>
        
      <% end %>
    </div>

  </div>

</div>

