<h1>Edit Product</h1>

<%= link_to 'Back to Products', brand_path(current_brand.id)  %>


<%= form_for ([@brand, @product]) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>

  <br/>
  <br/>

  <%= f.label :sku %><br />
  <%= f.text_field :sku %>

  <br/>
  <br/>

  <%= f.label :description %><br />
  <%= f.text_area :description %>

  <br/>
  <br/>

  <%= f.submit %>
  
<% end %>