<h1>New Product</h1>

<%= link_to 'Back to Products', brand_path(current_brand.id)  %>


<%= form_for ([@brand, @product]) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>

  <br/>
  <br/>

  <%= f.label :sku %><br />
  <%= f.text_field :sku %>

  <br/>
  <br/>

  <%= f.label :retail_price %><br />
  <%= f.text_field :retail_price %>

  <br/>
  <br/>

  <%= f.label :map_price %><br />
  <%= f.text_field :map_price %>

  <br/>
  <br/>

  <%= f.label :description %><br />
  <%= f.text_area :description %>

  <br/>
  <br/>

  <%= f.label :color_options %><br />
  <%= f.text_area :color_options %>

  <br/>
  <br/>

  <%= f.label :size_options %><br />
  <%= f.text_area :size_options %>

  <br/>
  <br/>

  <%= f.label :drobox_url %><br />
  <%= f.text_field :dropbox_url %>

  <br/>
  <br/>

  <%= f.submit %>
  
<% end %>